
  <!--Header-->

  <app-header></app-header>

  <!--fin Header-->

  <!--Intro-->

  <app-intro></app-intro>

  <!--Fin Intro-->

  <main id="main">

    <!--About US-->

    <app-about-us></app-about-us>

    <!--fin About us-->

   <!--Services-->
   
  <app-services></app-services>

   <!--fin de Services-->

    <!--Why US-->

    <app-why-us></app-why-us>

    <!--fin Why US-->

    <!-- Portfolio-->

    <app-portfolio></app-portfolio>

    <!--Fin Portfolio-->

   <!--Clients Testimonials-->

   <app-clients></app-clients>

   <!--Fin Clients Testimonials-->

    <!--Team-->

    <app-team></app-team>

    <!--Fin Team-->

    <!--Clientes-->
    <app-clientes></app-clientes>

    <!--Contact-->

    <app-contact></app-contact>

    <!--Fin Contact-->
    
  </main>

  <!--Footer-->
<app-footer></app-footer>
<!--fin Footer-->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->







<router-outlet></router-outlet>
